a {
  color: #000;
}
.followingContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000036;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fd 1s 1;
}
@keyframes fd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.followingInnerContainer {
  width: 400px;
  height: 600px;
  padding: 10px 20px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.followingInnerContainer .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.followingInnerContainer h3 {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.followingInnerContainer .content {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.followingInnerContainer .content ul {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.followingInnerContainer .content ul::-webkit-scrollbar {
  width: 5px;
  background-color: #ccc;
  border-radius: 3px;
}
.followingInnerContainer .content ul li {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.followingInnerContainer .content ul li .first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.followingInnerContainer .content ul li .first img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.followingInnerContainer .content ul li .first span {
  text-transform: capitalize;
  display: block;
  width: 200px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.followingInnerContainer .content ul li .second button {
  background-color: #0095f6;
  padding: 7px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 11px;
  cursor: not-allowed;
}
